# Git ignore file for BCS SPA 2016 project

data/*
!data/README*

datasets/LFB/
datasets/LHP/

downloads/*
!downloads/README*

logs/*
!logs/hadoop_logs
!logs/spark_logs

hadoop
hive
spark

metastore_db
**/derby.log
