# Git ignore file for BCS SPA 2016 project

data/*
!data/README*

datasets/LFB/load
datasets/LFB/zip
datasets/LHP/load
datasets/LHP/zip
datasets/LHP/load_fixed/
!datasets/LHP/fix_data/fix_data.hive
datasets/LHP/fix_data/

downloads/*
!downloads/README*

logs/*
!logs/hadoop_logs
!logs/spark_logs
!logs/README*

hadoop
hive
spark

metastore_db
**/derby.log
