# Git ignore file for BCS SPA 2016 project

.DS_Store

# !data
# !data/README*

# include the Hive metastore
# see http://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder
# data/*
# !data/hive/
# data/hive/*
# !data/hive/metastore_db/

data/hadoop
data/spark

datasets/lfb/load
datasets/lfb/zip
datasets/lhp/load
datasets/lhp/zip
datasets/lhp/load_fixed/
!datasets/lhp/fix_data/fix_data.hive
datasets/lhp/fix_data/

downloads/*
!downloads/README*

logs/*
!logs/hadoop_logs
!logs/spark_logs
!logs/README*

./hadoop
./hive
./spark

**/derby.log
